<!DOCTYPE html>
<html lang="en">
{% load render_table from django_tables2 %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'Web_App/main.css' %}" />
    <link rel="stylesheet" media="all" type="text/javascript" href="{% static 'Web_App/main.js' %}" />
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'Web_App/bootstrap.min.css' %}" />
    <title>WEB SITE</title>
</head>
<body class="landing">

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">EDUGYAAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="chat">EduBuddy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="course">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="college">Colleges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin">Admin Login</a>
              </li>
          </ul>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <div class="container">
            <header class="major">
                <h2>COLLEGES</h2>
                {% render_table college %}
            </div>
      <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="copyright">
                    <li>&copy; Suvoparno Banerjee, Udit Dutta, Satarup Mitra, Saswato Sengupta, Subhankar Singh</li>
                    <li>GITHUB: <a href="http://templated.co"></a></li>
                </ul>
            </div>
        </footer>
    <!-- Scripts -->
</body>
</html>